@charset "UTF-8";

@media screen and (min-width: 700px) {
    
    /* SEÇÃO ENTRADA */
    .secaoEntrada {
        height: 42rem;
    }

    /* CABEÇALHO */
    .secaoEntrada__cabecalho {
        padding: 0.8rem 2rem;
    }

    .secaoEntrada__logo a {
        font-size: 1.3em;
    }

    .secaoEntrada h1 {
        font-size: 2.8em;
        padding-left: 2rem;
        margin-top: 11.5rem;
    }

    
    /* BOTÃO MOBILE */
    #btnOpenMenu {
        display: none;
    }

    .btnCloseMenu {
        display: none;
    }

    /* LISTA DO MENU */
    .listaLinks {
        display: flex;
        flex-direction: revert;
        background-color: transparent;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        gap: 1.5rem;
        transition: unset;
    }

    .listaLinks__item {
        position: relative;
        width: auto;
    }
    
    .listaLinks__item:nth-child(1) {
        border-top: unset;
    }

    .listaLinks__item a {
        border-bottom: unset;   
        color: white;
    }

    .listaLinks__item a:hover ~ .underline::before {
        transform: scale(1);
    }
    
    .listaLinks__item .underline::before {
        content: '';
        width: 100%;
        position: absolute;
        background-color: white;
        height: 1px;
        bottom: 7px;
        transform: scale(0);
        transition: .2s ease-in-out;
    }

    /* SEÇÃO DA DESCRIÇÃO DA EMPRESA */
    .secaoDescricaoEmpresa {
        padding: 3.5rem 3rem;
    }

    .secaoDescricaoEmpresa h2 {
        font-size: 2.2em;
    }

    /* SEÇÃO O QUE FAZEMOS */
    .efeitoParalax {
        background-attachment: fixed;
        padding: 8rem 2rem;
    }

    /* SEÇÃO NOSSOS PROJETOS */
    .secaoNossosProjetos {
        padding: 3rem 0.9rem;
    }

    .secaoNossosProjetos__descricao h2 {
        font-size: 2.2em;
    }

    /* LISTA DE PROJETOS */
    .listaProjetos {
        flex-direction: row;
    }

    .listaProjetos__projeto:hover {
        opacity: 0.9;
        filter: blur(1px);
        transition: .5s;
    }

    /* SEÇÃO CONTATO */
    .secaoContato h2 {
        font-size: 2em;
        margin-bottom: 3.5rem;
    }


}