@charset "UTF-8";

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body {
    font-family: Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* SEÇÃO DE ENTRADA */
.secaoEntrada {
    background-image: url('../img/fundo-1.jpg');
    background-repeat: no-repeat;
    height: 40rem;
    background-size: cover;
    background-position: center;
}

.secaoEntrada h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.25em;
    font-weight: 100;
    background-color: #0000008c;
}

/* CABEÇALHO */
.secaoEntrada__cabecalho {
    background-color: #00000070;
    padding: 1.5rem 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secaoEntrada__logo {}

.secaoEntrada__logo a {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.secaoEntrada__logo a strong {
    margin-right: 0.3rem;
    text-transform: uppercase;
}

/* ÁREA DE NAVEGAÇÃO */
.secaoEntrada__navegacao {}

/* BOTÃO ABRIR MENU */
#btnOpenMenu {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    padding-right: 0.5rem;
}

.btnOpenMenu__hamburguer {
    display: block;
    border-top: 2px solid white;
}

.btnOpenMenu__hamburguer::before, .btnOpenMenu__hamburguer::after {
    content: '';
    display: block;
    height: 0.16rem;
    width: 1.5rem;
    background-color: white;
    margin: 5px 0;
}

/* BOTÃO FECHAR MENU */
#btnCloseMenu {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    padding-right: 0.5rem;
    display: none;
}

.btnCloseMenu__hamburguer::before, .btnCloseMenu__hamburguer::after {
    content: '';
    display: block;
    z-index: 1;
    height: 0.13rem;
    width: 1.5rem;
    background-color: #9d9d9d;
    position: relative;
}

.btnCloseMenu__hamburguer::before {
    transform: rotate(135deg);
}

.btnCloseMenu__hamburguer::after {
    transform: rotate(-135deg);
    top: -2px;
}

/* LISTA DE LINKS MENU */
.listaLinks {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    width: 16rem;
    height: 100vh;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 5.5rem 1.5rem 1.5rem 1.5rem;
    font-size: 1em;
    font-weight: 500;
}

.listaLinks__item {
    width: 100%;
}

.listaLinks__item a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #9d9d9d;
    border-bottom: 1px solid hsla(0,0%,73%,.4);
    padding: 1rem 0;
}

.listaLinks__item:nth-child(1) {
    border-top: 1px solid hsla(0,0%,73%,.4);
}

.listaLinks__item .underline {}

/* CONTEÚDO */
.conteudo {}

/* SEÇÃO DE DESCRIÇÃO DA EMPRESA */
.secaoDescricaoEmpresa {
    padding: 2rem;
    /* padding: 3.5rem 3rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secaoDescricaoEmpresa h2 {
    color: #393939;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2em;
    /* font-size: 2.2em; */
    text-align: center;
    margin-bottom: 2rem;
}

.secaoDescricaoEmpresa__paragrafo, .secaoDescricaoEmpresa__paragrafo--italico {
    margin-bottom: 1rem;
    line-height: 1.6em;
    font-size: 1.1em;
}

.secaoDescricaoEmpresa__paragrafo {
    color: #666;
    text-align: justify;
}

.secaoDescricaoEmpresa__paragrafo--italico {
    color: #9d9d9d;
    font-style: italic;
    text-align: center;
}

.secaoDescricaoEmpresa__assinaturaEmpresa {}

.secaoDescricaoEmpresa__assinaturaEmpresa img {
    width: 100%;
    max-width: 350px;
}

.secaoDescricaoEmpresa__assinaturaEmpresa figcaption {}

/* SEÇÃO O QUE FAZEMOS */
.secaoOqueFazemos {
    background-image: url(../img/fundo-2.jpg);
}

.secaoOqueFazemos h2 {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.5em;
}

.secaoOqueFazemos h2 strong {}

.efeitoParalax {
    padding: 3rem 1rem;
    /* padding: 10rem 2rem; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

/* SEÇÃO NOSSOS PROJETOS */
.secaoNossosProjetos {
    padding: 2rem 0.9rem;
}

.secaoNossosProjetos__descricao {}

.secaoNossosProjetos__descricao h2 {
    color: #393939;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2em;
    /* font-size: 2.2em; */
    text-align: center;
    margin-bottom: 2rem;
}

/* LISTA DE PROJETOS */
.listaProjetos {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

.listaProjetos__projeto {
    display: flex;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.listaProjetos__projeto:nth-child(1) {
    background-image: url(../img/fundo-1.jpg);
    background-size: unset;
}
.listaProjetos__projeto:nth-child(2) {
    background-image: url(../img/fundo-2.jpg);

}
.listaProjetos__projeto:nth-child(3) {
    background-image: url(../img/fundo-3.jpg);
}

.listaProjetos__imgFundo {}

.listaProjetos__nomeLugar {
    color: #393939;
    display: block;
    background-color: white;
    width: 100%;
    padding: 1rem;
    font-size: 1.1em;
}

/* SEÇÃO CONTATO */
.secaoContato {
    background-image: url(../img/fundo-4.jpg);
}

.secaoContato h2 {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1.5em;
    font-size: 1.6em;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.secaoContato a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    padding: 1rem 3rem;
}

/* RODAPÉ */
.rodape {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
}

.rodape p {
    line-height: 1.6em;
    color: #ccc;
}

.rodape p a {
    text-decoration: underline;
    color: white;
}