@charset "UTF-8";

/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPO */
body {
    font-family: Helvetica, sans-serif;
}

.container {}

/* SEÇÃO DE ENTRADA */
.secaoEntrada {
    background-image: url('../img/fundo-1.jpg');
    height: 20rem;
}

.secaoEntrada h1 {}

/* CABEÇALHO */
.secaoEntrada__cabecalho {
    background-color: #00000070;
    padding: 1.5rem 0.7rem;
}

.secaoEntrada__logo {}

.secaoEntrada__logo a {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

.secaoEntrada__logo a strong {
    margin-right: 0.3rem;
    text-transform: uppercase;
}

/* ÁREA DE NAVEGAÇÃO */
.secaoEntrada__navegacao {}

.listaLinks {
    display: none;
}

.listaLinks__item {}

.listaLinks__item a {}

.listaLinks__item .underline {}

/* CONTEÚDO */
.conteudo {}

/* SEÇÃO DE DESCRIÇÃO DA EMPRESA */
.secaoDescricaoEmpresa {}

.secaoDescricaoEmpresa h2 {}

.secaoDescricaoEmpresa__paragrafo {}

.secaoDescricaoEmpresa__paragrafo--italic {}

.secaoDescricaoEmpresa__assinaturaEmpresa {}

.secaoDescricaoEmpresa__assinaturaEmpresa img {}

.secaoDescricaoEmpresa__assinaturaEmpresa figcaption {}

/* SEÇÃO O QUE FAZEMOS */
.secaoOqueFazemos {}

.secaoOqueFazemos h2 {}

.secaoOqueFazemos h2 strong {}

.efeitoParalax {}

/* SEÇÃO NOSSOS PROJETOS */
.secaoNossosProjetos {}

.secaoNossosProjetos__descricao {}

.secaoNossosProjetos__descricao h2 {}

/* LISTA DE PROJETOS */
.listaProjetos {}

.listaProjetos__projeto {}

.listaProjetos__projeto img {}

.listaProjetos__nomeLugar {}

/* SEÇÃO CONTATO */
.secaoContato {}

.secaoContato h2 {}

.secaoContato a {}

/* RODAPÉ */
.rodape {}

.rodape p {}

.rodape p a {}